<!DOCTYPE html>
<html lang="pt-br">
    <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
            <meta
                content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
                name="viewport"
            />
            <meta name="viewport" content="width=device-width" />
    
            <!-- CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="/css/bootstrap.css" rel="stylesheet" />
            <link href="/css/coming-sssoon.css" rel="stylesheet" />
    
            <!--     Fonts     -->
            <link
                href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"
                rel="stylesheet"
            />
            <link
                href="http://fonts.googleapis.com/css?family=Grand+Hotel"
                rel="stylesheet"
                type="text/css"
            />

            <link rel="shortcut icon" type="image/png" href="/images/helena.png">

        <title>Presente Solidário - Helena</title>

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body>
        <header> 
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
                <div class="container">                        
                    <img
                            class="bi me-1"
                            width="100"
                            height="80"
                            src="/images/helena.png"
                        />
                        <h4 class="text-center">Presente Solidário - Helena</h4>
                        <img
                        class="bi me-1"
                        width="100"
                        height="80"
                        src="/images/helena.png"
                    />
                </div>
            </nav>
        </header>
            <br />
            <br />
            <br />
            <div class="main" style="background-image: url('/images/helena2.jpeg')">
                <video
                    id="video_background"
                    preload="auto"
                    autoplay="true"
                    loop="loop"
                    muted="muted"
                    volume="0"
                >
                    <source src="/images/Helena.mp4" type="video/mp4" />
                </video>
                <!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->
    
                <div class="cover black" data-color="black"></div>
          
            <div
                class="container"
            ><div class="content">
                <br /><br /> <br /><br /> <br /><br /> <br />  <br /><br />
                <div class="text-white text-justify">
                    <p>
                        Olá Família e Amigos,
                        <br />
                        Como vocês sabem não moramos no Brasil e não temos como
                        levar presentes para casa, então pensamos em unir o
                        desejo de vocês em presentear a Helena com o nosso
                        desejo de ajudar ao proxímo. Todas as verbas arrecadadas
                        neste site serão revertidas como presente solidário,
                        levando alimentos a quem precisa. Muitas pessoas
                        não sentem confiança em doar online ou passar o cartão
                        de crédito virtualmente*, então todas as <b><ins>6 opções de
                        doações</ins></b> tem os itens que temos em mente adquirir. Se você se sentir mais confortável pode
                        comprar os itens e nos trazer no dia da festa.
                        <br />Desde já agradecemos muito a sua doação! Muito Obrigado!!! <br />A
                        Helena adora ajudar, ela é considerada a mais helpful na sua escola
                        ("Prestativa")... Isso a faz feliz
                        como nos faz feliz!</p>
                        <br /><small>*TODOS AS DOAÇÕES SERÃO REALIZADAS ATRAVES DO SITE MERCADO PAGO.</small>
                        
                </div>
                <hr>
                <div class="row flex-nowrap text-white">
                    <div class="col py-3 px-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 1</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Sal Refinado</li>
                                    </ul>

                                    <b>Valor: R$ 30,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/1WXgB7L">DOAR</a>
                                </span>
                                <br />
                            </div>
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 2</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Óleo de Soja</li>
                                        <li>Milho Verde</li>
                                        <li>Macarrão Espaguete</li>
                                        <li>Molho de Tomate Pronto</li>
                                        <li>Café</li>
                                        <li>Sal Refinado</li>
                                    </ul>

                                    <b>Valor: R$ 50,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/1GrmMg1">DOAR</a>
                                </span>
                                <br />
                            </div>
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 3</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Óleo de Soja</li>
                                        <li>Milho Verde</li>
                                        <li>Macarrão Espaguete</li>
                                        <li>Molho de Tomate Pronto</li>
                                        <li>Café</li>
                                        <li>Sal Refinado</li>
                                        <li>Sabonete</li>
                                        <li>Papel Higiênico 4 x Rolos</li>
                                        <li>Sabão em Pedra Individual</li>
                                        <li>Creme Dental</li>
                                        <li>Bolacha de Agua e Sal</li>
                                        <li>Bolacha Recheada</li>
                                        <li>Farinha de Trigo</li>
                                        <li>Suco</li>
                                        <li>Caixa de Leite</li>
                                        <li>Manteiga</li>
                                    </ul>

                                    <b>Valor: R$ 80,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/28imW9P">DOAR</a>
                                </span>
                                <br />
                            </div>
                            <hr>
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 4</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Óleo de Soja</li>
                                        <li>Milho Verde</li>
                                        <li>Macarrão Espaguete</li>
                                        <li>Molho de Tomate Pronto</li>
                                        <li>Café</li>
                                        <li>Sal Refinado</li>
                                        <li>Sabonete</li>
                                        <li>Papel Higiênico 4 x Rolos</li>
                                        <li>Sabão em Pedra Individual</li>
                                        <li>Creme Dental</li>
                                        <li>Bolacha de Agua e Sal</li>
                                        <li>Bolacha Recheada</li>
                                        <li>Farinha de Trigo</li>
                                        <li>Suco</li>
                                        <li>Caixa de Leite</li>
                                        <li>Manteiga</li>
                                        <li>Carne</li>
                                    </ul>

                                    <b>Valor: R$ 120,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/1Wruzgn">DOAR</a>
                                </span>
                                <br />
                            </div>
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 5</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Óleo de Soja</li>
                                        <li>Milho Verde</li>
                                        <li>Macarrão Espaguete</li>
                                        <li>Molho de Tomate Pronto</li>
                                        <li>Café</li>
                                        <li>Sal Refinado</li>
                                        <li>Sabonete</li>
                                        <li>Papel Higiênico 4 x Rolos</li>
                                        <li>Sabão em Pedra Individual</li>
                                        <li>Creme Dental</li>
                                        <li>Bolacha de Agua e Sal</li>
                                        <li>Bolacha Recheada</li>
                                        <li>Farinha de Trigo</li>
                                        <li>Suco</li>
                                        <li>Caixa de Leite</li>
                                        <li>Manteiga</li>
                                        <li>Carne</li>
                                        <li>Frango</li>
                                        <li>
                                            Feira (Vegetais, Legumes e Frutas)
                                        </li>
                                    </ul>

                                    <b>Valor: R$ 150,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/1PRM2sD">DOAR</a>
                                </span>
                                <br />
                            </div>
                            <div class="col-lg-4">
                                <span
                                    class="ms-4 text-start"
                                    style="
                                        width: 240px;
                                        word-wrap: break-word;
                                        display: block;
                                    "
                                >
                                    <b>Opção 6</b>
                                    <br />
                                    <p class="text-start">Itens:</p>
                                    <ul class="text-start">
                                        <li>Açúcar Refinado</li>
                                        <li>Arroz Tipo 1</li>
                                        <li>Feijão Carioca Tipo 1</li>
                                        <li>Óleo de Soja</li>
                                        <li>Milho Verde</li>
                                        <li>Macarrão Espaguete</li>
                                        <li>Molho de Tomate Pronto</li>
                                        <li>Café</li>
                                        <li>Sal Refinado</li>
                                        <li>Sabonete</li>
                                        <li>Papel Higiênico 4 x Rolos</li>
                                        <li>Sabão em Pedra Individual</li>
                                        <li>Creme Dental</li>
                                        <li>Bolacha de Agua e Sal</li>
                                        <li>Bolacha Recheada</li>
                                        <li>Farinha de Trigo</li>
                                        <li>Suco</li>
                                        <li>Caixa de Leite</li>
                                        <li>Manteiga</li>
                                        <li>Carne</li>
                                        <li>Frango</li>
                                        <li>
                                            Feira (Vegetais, Legumes e Frutas)
                                        </li>
                                        <li>Fralda</li>
                                        <li>Leite em Po</li>
                                    </ul>

                                    <b>Valor: R$ 180,00</b>

                                    <a class="btn btn-primary" href="https://mpago.la/32oGgJx">DOAR</a>
                                </span>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <!-- FOOTER -->
        <footer class="container text-center">
            <p>&copy;<small>2021 Highend-Technology </small></p>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
